html{

    background-color: rgb(250, 255, 203);

}

header{

    display: flex;
    justify-content: center;
    padding:10px;
    margin:10px;
    gap: 20px;

    font-size: larger;
    color:goldenrod;

}

header img{

    width:100px;

}


.Games ul{

    display: flex;
    flex-direction: row;

    gap:40px;
    margin:10px;

    flex-wrap: wrap;

    width: 340px;

    list-style-type: none;

}

.Games{

    display: flex;
    justify-content: center;
    justify-self: center;

    padding:10px;

   border: 3px solid black;
   border-radius: 50px;

}

.gamesTitle{

    display: flex;
    justify-content: center;

}


/* .PikaStats{

    display: flex;
    justify-content: center;
    justify-self: center;
    padding:10px;
    margin:10px;
    gap: 20px;

    width:500px;

    color:rgb(159, 0, 0);

    border: 3px solid black;
    border-radius: 50px;

    background-color: white;

} */

.Games ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.gameBox {
  padding: 6px 10px;
  border-radius: 8px;
  border: 2px solid gray;
  background-color: #eee;
  font-weight: bold;
  text-transform: capitalize;
}

.gameBox.active {
  border-color: green;
  background-color: lightgreen;
}
