html{

    background-color: rgb(250, 255, 203);


}

header{

    display: flex;
    justify-content: center;

}


.Games ul{


    display: flex;
    flex-direction: row;
    gap:40px;
    margin:10px;




}